h1 {
	font-family: Arial;
}

h2 {
	font-family: Verdana;
	font-size: 1.25em;
}

.leftColumn {
	display: inline-block;
	width: 60%;
}

.rightColumn {
	width: 40%;
	display: inline-block;
}

p {
	font-family: Verdana;
	font-size: .75em;
}

li {
	font-family: Verdana;
	font-size: .75em;
}

#smallBox {
	height: 200px;
	width: 200px;
	border: 1px solid black;
}